app {
    display: grid;
    grid-template-columns: 20px 1fr 20px;
  }
  .app > * {
    grid-column: 2 / -2;
  }
  .app > .full {
    grid-column: 1 / -1;
  }

  .hs {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, calc(50% - 40px));
    grid-template-rows: minmax(150px, 1fr);
  }

  .hs > li:last-child {
    margin-right: 20px;
  }